.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 100;
}

.modal-container {
  display: grid;
  padding: 15px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: fit-content;
  margin: auto;
  max-width: 600px;
  max-height: 90%;
  background-color: white;
  border-radius: 8px;
  overflow: auto;
  text-align: center;
}

.modal-header {
  display: flex;
  align-items: center;
  position: relative;
}

.modal-heading {
  background-color: #F8D7DA;
  border: 1px solid #EDCCD1;
  color: #A94442;
  padding: 5px 10px;
  border-radius: 8px;
  font-size: 1.5rem;
  position: absolute;
  right: 50%;
  transform: translateX(50%);
}

.close-modal-btn {
  margin-left: auto;
  width: fit-content;
  height: fit-content;
  border-radius: 50%;
  border: none;
  padding: 8px;
  background-color: #D8DADF;
  color: #757575;
  cursor: pointer;
}

.close-modal-btn:hover {
  filter: brightness(90%);
}

.close-modal-btn .material-symbols-rounded {
  vertical-align: middle;
}

.modal-container hr {
  margin: 15px 0;
  border-top: 1px solid #D8DADF;
  border-bottom: none;
}

.modal-container ol {
  margin: 15px 35px;
  text-align: left;
  /* list-style: inside; */
}

.modal-container ol ol {
  margin: 0 25px;
  font-size: 0.8rem;
}