nav {
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
    background-color: #E6E6E6;
    border-bottom: 1px solid #ABABAB;
    height: 90px;
    align-items: center;
}

.nav-logo {
    font-size: 2rem;
    font-weight: bold;
    user-select: none;
}

.nav-links {
    list-style: none;
    font-size: 2rem;
    font-weight: bold;
    user-select: none;
    cursor: pointer;
    padding: 1rem;
    border-radius: 8px;
}

.nav-links:hover {
    background-color: #C8C8C8;
}