.container {
  display: flex;
  width: fit-content;
  margin: 0 auto;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  /* outline: 1px solid red; */
  gap: 20px;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 35px;
  height: fit-content;
  margin: auto;
  /* outline: 1px solid red; */
}