.fn-btn-wrapper {
  text-align: center;
}

.function-buttons {
  display: flex;
  justify-content: space-around;
}

.fn-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ABABAB;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  cursor: pointer;
  background-color: #ECECEC;
}

.fn-btn img {
  border-radius: 50%;
  width: 75%;
  height: 75%;
}

.fn-btn:hover {
  background-color: #C8C8C8;
}

.fn-btn:active {
  background-color: #ABABAB;
}